body {
    background-color: #5b7acf;
    font-family: consolas;
    color: #ffffff;
    margin: 0;
    box-sizing: border-box;
}
p {
    font-size: 25px;
    text-align: center;
}
.h1 {
    font-size: 39px;
    font-weight: bold;
}
.h2 {
    font-size: 40px;
    font-weight: bold;
}
.h3 {
    font-size: 30px;
    font-weight: bold;
}
a:link, a:hover, a:visited, a:active {
    color: #5b7acf
}
@media only screen and (max-width: 1010px) {
    #header1 {
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    #videohide {
        display: none;
    }
}
@media only screen and (min-width: 1011px) {
    #header2 {
        display: none;
    }
}
.headfoot {
    background-color: #0D1C47;
    border-bottom: 15px solid #0B1133;
    border-top: 15px solid #0B1133;
}
.headerimage {
    height: 70px;
}
#h2 {
    padding: 30px;
}
[class*="col-"] {
    float: left;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
embed {
    width: 400px;
    height: 275px;
    border: 10px solid #0B1133;
}
.image {
    border: 10px solid #0B1133;
}
#stradd {
    width: 200px;
}
#body {
    width: 80%;
    background-color: #2b4486;
    margin: 0 auto;
    border-left: 15px solid #0B1133;
    border-right: 15px solid #0B1133;
}
#video {
    padding-top: 75px;
}
#mascot {
    padding-top: 75px;
}